*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
 
}
body{
  width: 100vw;
  height: 100vh;
  background-color: rgb(247, 244, 244);
 position: relative;
  display: flex;
  /* align-items: center; */
  justify-content: flex-end;
}
.heart-container{
  top:80px;
  left: -110px;
  width: 260px;
  height:260px;
  /* background-color: azure; */
  position: relative;
  animation: heart 0.5s ease-in-out 0s infinite alternate;

  animation-play-state: paused;
  
}
.heart-container .hrt{
  /* width: 100px;
  height: 40%; */
  background-color: red;
 


}
@keyframes heart {
  from{
       transform: scale(1);
  }
  To{
    transform: scale(1.4);

  }
}
.left{
  width:110px;
  height: 140px;
  position: absolute;
  left:20px;
  top:30px;
  border-radius: 50% 50% 0 0;
  transform:rotatez(-61.3deg);
}
.right{
  width:110px;
  height: 140px;
  position: absolute;
  left:90px;
  top:30px;
  border-radius: 50% 50% 0 0;
  transform:rotatez(61.5deg);
}
/* .rrow{
  width: 260px;
  height: 260px;
  background-color: aqua;
} */
.arrow-container{
  width: 260px;
  height: 260px;
  /* background-color: rgb(101, 171, 232); */
  left: -900px;
  bottom: -300px;
  z-index: 3;
  position: relative;
  animation: line 2s ease-in-out 0s infinite forwards;
  
}
@keyframes line {
  From{
    left: -900px;
    bottom: -300px;
  }
  To{ 
    left:155px;
    bottom: -30px;
    }
    
    }

.arrow-container:hover+.heart-container{
  animation-play-state: running;

}
.arrow-container .s-line{
  background-color: rgb(17, 17, 17);
  width: 90%;
  height: 1%;
  position: absolute;
  top: 150px;
  
 
  transform: rotateZ(-34deg);
  
}
.arrow-container .v-line-1{
  background-color: rgb(17, 17, 17);
  width: 30%;
  height: 1%;
  position: absolute;
  top: 87px;
  right: 45px;
  
  transform: rotateZ(-3deg);
}
.arrow-container .v-line-2{
  background-color: rgb(17, 17, 17);
  width: 30%;
  height: 1%;
  position: absolute;
  top: 120px;
  right: 27px;
  
  transform: rotateZ(-60deg);
}
.arrow-container:hover{
  animation-play-state: running;
  cursor: pointer;
}